:root {
    --ff-primary: 'Lato';
    --ff-secondary: 'Montserrat';

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-1-light: #85D4B7;
    /*rgb(133, 212,183)*/
    --clr-2-dark: #34dab0;

    --clr-3: #303030;
    --clr-4: #16e0bd;

    --clr-white: #fff;
    --clr-black: #303030;


    --fs-h1: 3.4rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1.5rem;

}

/* General Styles */

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    /* 10px = 1rem */
}

body {
    box-sizing: border-box;
    padding: 1.7rem;
    margin: 0 auto;

    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    font-weight: var(--fw-reg);
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: var(--clr-white);
}

.contactanos {
    color: blue;
}

li {
    list-style: none;
}

img {
    max-width: 100%;

}

h1 {
    font-size: var(--fs-h1)
}

h2 {
    font-size: var(--fs-h2)
}

h3 {
    font-size: var(--fs-h3)
}

/* Header */

.header {
    background-color: var(--clr-1-light);
    margin: 0 auto;
    text-align: center;
    max-width: 100%;

}


.header__logo img {
    width: 80%;

}

.header__nav li {
    padding: 1rem;
    border-bottom: 1px solid var(--clr-2-dark);
}

.header__nav a {
    font-size: 2rem;
}

.header__redes-sociales ul {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.header__redes-sociales ul i {
    margin-right: 2rem;
    margin-top: 1.7rem;
    margin-bottom: 1.7rem;
    font-size: 2.4rem;
    color: var(--clr-2-dark);
    background-color: var(--clr-white);
    border: 2px solid #fff;
    border-radius: 50%;
    padding: 1rem;
    width: 70%;

}


/* Main */

.main {
    display: flex;
    flex-direction: column;
}

.main__section {
    width: 50%;
    margin: 1.7rem;

    display: flex;
    flex-direction: column;
}

.section-1 {
    align-self: flex-end;
}

.main__section>h4 {
    /* border-bottom: .3rem solid #b1b1b1; */
    display: inline;
}

.main__section h2,
.main__section h4 {
    text-transform: uppercase;
}

.main__section h4,
.main__section p {
    color: var(--clr-black);
    padding: 2rem 0;
}

.main__section p {
    font-weight: var(--fw-bold);
}

.main__section .section-1 {
    text-align: right;
}

.btn {
    display: inline-block;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 600;
    color: #333;
    border: 2px solid #333;
    padding: .8rem;
}

.btn:hover {
    background-color: var(--clr-1-light);
    color: var(--clr-white);
}

/* Galeria */

.galeria {
    background-color: var(--clr-1-light);
    flex-basis: 33.3%;
    height: auto;
}

.img1 img,
.img2 img,
.img3 img,
.img4 img,
.img5 img,
.img6 img,
.img7 img {
    height: auto;
    width: 100%;
}

.img2 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.img7 {
    padding-top: 20px;
}

.contenedorPadre {
    background-color: rgb(133, 212, 183);
    display: flex;
    justify-content: center;
    align-content: center;
}

.contenedorhijo1,
.contenedorhijo2,
.contenedorhijo3 {
    flex-basis: 33.3%;
    max-width: 33.3%;
    position: relative;
    width: 100%;
    padding-right: 5px;
    padding-left: 5px;
    margin-top: 10px;
}

@media (max-width: 399px) {
    body {
        height: auto;
    }
}

/* Footer */

footer {
    background-color: rgb(201, 194, 194);
    color: var(--clr-black);
    font-weight: 600;
    padding-top: 1rem;
    padding-left: 3rem;
    padding-bottom: 5rem;
}

hr {
    width: 13%;
    border: 2px solid #c0c0c0;
}

/* Mobile y Tablet */

@media (min-width: 600px) {
    .header__inicial {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;

        margin-bottom: 2rem;
        padding-top: 1.3rem;
        width: auto;

    }

    .header__nav ul {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;

    }

    .header__nav ul li {
        border-bottom: none;
    }

    .header__hero {
        margin: 0 auto;
        max-width: 800px;
    }

    .header__hero img {
        width: 100%;

        height: 25em;
    }

    .main .main__section img {
        width: 60%;
    }
}

/* Pagina Rescatados */

.seccion__encabezado {
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.descripcion__seccion {
    display: flex;
    border: solid 2px var(--clr-2-dark);
    background-color: white;
    width: 80%;
    justify-content: center;

}

.descripcion__seccion p {
    text-align: center;

}

.contenedorPadre {
    margin-top: 2rem;
}

.contenedorHijos {
    display: flex;
    flex-wrap: wrap;
}

/* Página Campañas */

#main__en-construccion {
    padding-top: 3rem;
    text-align: center;
}

#main__en-construccion img {
    max-width: 100%;
    margin-left: 6rem;
}

main h1 {
    font-size: var(--fs-h1);

}